.header {
    color: #64b5f6;
    font-weight: 300;
}

#main {
    min-width: 300px;
    width: 60%;
    margin: 0 auto;
    background: white;
    vertical-align: middle;
    display: inline-block;
    text-align: left;
}

#main {
    border: none;
}

#buttonContinue {
    width: 100%;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%/*whatever width you want*/;
}

.hidden {
    display: none;
}

#marksTable {
    width: 100%;
}

#marksTable .mark {
    text-align: center;
    width: 40.5px;
    height: 40.5px;
    display: table-cell;
    position: relative;
    z-index: 1;
    line-height: 40.5px;
    padding: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

#marksTable .mark div {
    width: 40.5px;
    height: 40.5px;
    line-height: 40.5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#marksTable .mark div:hover {
    background-color: rgba(0, 150, 136, 0.5);
}

#marksTable .mark div.active {
    background-color: rgba(0, 150, 136, 0.7);
    color: #fff;
}

.tooltipBlock .row {
    margin-bottom: 0;
}

.input-field label.active span.hiding {
    display: none;
}

.highlightable {
    will-change: opacity,transform;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.highlightable.active {
    /*background-color: rgba(100, 181, 246, 0.8);*/
    color: #ee6e73;
}

.highlightable .header {
    will-change: opacity,transform;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.highlightable.active .header {
    color: #ee6e73;
    font-weight: 300;
}